@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.better-shadow {
  box-shadow: 0 16px 40px rgba(112, 144, 176, 0.2)
}